.cartscreen {
  display: flex;
  max-width: 1300px;
  margin: 2rem auto;

  h2 {
    margin-bottom: 1rem;
  }

  &__left {
    flex: 0.7;
    margin-right: 1rem;
    background: transparent;
    padding: 1rem;
  }

  &__right {
    flex: 0.3;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    height: fit-content;

    div {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding: 1rem;

      &:last-child {
        border: none;
      }

      button {
        padding: 10px 17px;
        width: 100%;
        background: #171717;
        color: #f4f4f4;
        border: 1px solid #171717;
        cursor: pointer;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }

  &__info p {
    padding: 8px;

    &:first-child {
      font-weight: bold;
    }
  }

  @media (max-width: 1320px) {
    max-width: 900px;
  }

  @media (max-width: 960px) {
    max-width: 800px;

    flex-direction: column;

    &__right {
      margin: 1rem;
    }
  }
}
