.cartitem {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
  gap: 8px;
  background: #fff;
  border-radius: 2px;
  place-items: center;
  margin-bottom: 8px;

  &__name {
    text-decoration: none;
    color: #171717;

    &:hover {
      color: #dd219e;
    }
  }

  &__select {
    padding: 10px 17px;

    @media (max-width: 700px) {
      padding: 8px 13px;
    }

    @media (max-width: 500px) {
      padding: 5px 8px;
    }
  }

  &__deleteBtn {
    padding: 10px 17px;
    color: red;
    background: #f4f4f4;
    border: 1px solid #171717;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #171717;
      transform: scale(1.2);
    }
  }

  &__price {
    @media (max-width: 700px) {
      font-size: 0.8rem;
    }

    @media (max-width: 500px) {
      font-size: 0.6rem;
    }
  }
}
