.checkoutscreen {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .checkoutscreen__left {
    flex: 0.7;
    border-right: 1px solid #ccc;
    padding-right: 20px;
  
    h2 {
      margin-bottom: 20px;
      color: #333;
    }
  
    form {
      .form-group {
        margin-bottom: 20px;
  
        label {
          display: block;
          margin-bottom: 5px;
        }
  
        input {
          width: 100%;
          padding: 10px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
      }
    }
  }
  
  
  .checkoutscreen__right {
    flex: 0.3;
    padding-left: 20px;
  
    .checkoutscreen__summary {
      h2 {
        margin-bottom: 20px;
        color: #333;
      }
  
      hr {
        border: none;
        border-top: 1px solid #ccc;
        margin: 20px 0;
      }
  
      .checkoutscreen__subtotal {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        span{
          font-weight: 10px;
        }
      }
  
      .checkoutscreen__payment {
        h2 {
          margin-bottom: 10px;
          color: #333;
        }
        .payment-method-options {
          display: flex;
          flex-direction: column;
      
          label {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
      
            input[type="radio"] {
              margin-right: 10px;
            }
          }
        }
      }
  
      .checkoutscreen__placeorder {
        button {
          width: 100%;
          padding: 10px;
          background: #171717;
        color: #f4f4f4;
          border: none;
          
          font-size: 16px;
          cursor: pointer;
          transition: background-color 0.3s;
  
          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
  }
  