.loginscreen {
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  position: fixed;
  */
  width: 500px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .form-popup {
    position: fixed;
    bottom: 0;
    right: 15px;
    //border: 3px solid #f1f1f1;
    z-index: 9;
    width: 100%;
    height: 10em;
    margin: 25px;
    position: relative;

    h1 {
      margin-bottom: 25px;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: underline;
    }
    
  }

  .form-container {
    max-width: 500px;
    padding: 10px;
    background-color: #f1f1f1;

    input[type='text'],
    input[type='password'] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background:#ddd;

      &:focus {
        background-color: #ddd;
        outline: none;
      }
    }

    .btn {
      background-color: #171717;
      color:#f1f1f1;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom: 10px;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }

  @media (max-width: 530px) {
    width: 400px;
    top: 20%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @media (max-width: 396px) {
    width: 300px;
    top: 20%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
