@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@100;200;400;500&family=Rubik:wght@400;500;700&display=swap');


.navbar {
  width: 100%;
  // background-color: #171717;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  z-index: 50;

  &__logo {
    h2 {
      //color: #f4f4f4;      
      cursor: pointer;
      font-size: 3.1rem;
      font-family: 'Kaushan Script', cursive;
    }
  }

  &__links {
    display: flex;
    list-style: none;
    align-items: center;

    >li {
      padding-left: 1.5rem;

      .dropdown {
        position: relative;
        display: inline-block;

        .dropbtn {
          background-color: transparent;
          color: #333;
          font-size: 1.2rem;
          border: none;
          cursor: pointer;

          &:hover {
            color:#333;
          }
        }

        &:hover .dropdown-content {
          display: block;
        }

        .dropdown-content {
          right: 0; 
        }
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 90px;
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          z-index: 1;

          button {
            color: #333;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            background-color: transparent;
            border: none;
            cursor: pointer;
            width: 100%;

            &:hover {
              background-color: #ddd;
            }
          }

          
        }

      }

      >a {
        text-decoration: none;
        color: #333;
        font-size: 1.2rem;
        display: flex;
        align-items: center;

        >span {
          display: flex;
          align-items: center;
          margin-left: 8px;
        }
      }

      >i {
        color: white;
        text-decoration: none;
        font-size: 25px;
        cursor: pointer;
      }
    }
  }

  &__select:hover {
    background-color: #231F20;
  }

  .cart__link {
    background: #ddd;
    padding: 10px;
    border-radius: 8px;

    &:hover {
      background-color: #c1c1c1;
    }
  }

  .cartlogo__badge {
    width: 30px;
    height: 30px;
    background-color: #f4f4f4;
    border-radius: 50%;
    margin-left: 8px;
    color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  .hamburger__menu {
    display: none;
    width: 30px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:hover>div {
      background: lime;
    }

    >div {
      width: 100%;
      height: 3px;
      background: #333;
    }
  }

  @media (max-width: 960px) {
    &__links {
      display: none;
    }

    .hamburger__menu {
      display: flex;
    }
  }

  @media (max-width: 500px) {
    &__logo {
      h2 {
        font-size: 1rem;
      }
    }
  }
}