.order-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 20px;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  border: none; /* Remove default border */
}

th, td {
  padding: 10px; /* Replace $table-cell-padding with a specific value */
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

button {
  padding: 5px 10px;
  background-color: #333;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  opacity: 0.9;
}
