.productscreen {
  max-width: 1300px;
  margin: 1rem auto;
  display: flex;
  
  p {
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  p:last-child {
    border: none;
  }

  &_left {
    display: flex;
    flex: 0.8;
    
    & .left_image {
      margin: 1rem;
      flex: 0.6;
    }

    & .left_info {
      margin: 1rem;
      flex: 0.4;
      background: #fff;
      height: fit-content;
      font-size: 0.9rem;
      
    }
    & .left_name {
      font-weight: bold;
      font-size: 1.3rem;
      
    }

    
  }

  &_right {
    flex: 0.2;

    & .right_info {
      width: 250px;
      margin: 1rem;
      background: #fff;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);

      p {
        padding: 1rem;
        font-size: 0.8rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

         button {
          grid-column: 1/-1;
          width: 100%;
          padding: 10px 16px;
          background: #171717;
          color: #f4f4f4;
          border: 1px solid #171717;
          cursor: pointer;
          border-radius: 5px;
        }
      }

      select {
        padding: 10px 16px;
      }
    }
  }

  @media (max-width: 960px) {
    flex-direction: column;

    &_left {
      flex-direction: column;
      flex: 1;
      
      & .left_image {
        flex: 1;
      }

      & .left_info {
        flex: 1;
      }
    }

    &_right {
      flex: 1;
      padding: 1rem;
      
      & .right_info {
        width: 100%;
        margin: 0;
      }
    }
  }
}
