.sidedrawer {
  width: 70%;
  background: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  transform: translateX(-100%);
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.show {
    transform: translateX(0);
  }

  &__links {
    display: flex;
    flex-direction: column;
    list-style: none;

    > li {
      display: flex;
      align-items: center;

      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex: 1;
        padding: 1rem;
        text-decoration: none;
        color: #171717;
        font-size: 1.6rem;

        &:hover {
          background: #333;
          color: #f4f4f4;
        }

        > span {
          display: flex;
          align-items: center;
          margin-left: 8px;
        }
      }
    }
  }

  &__cartbadge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #171717;
    border-radius: 50%;
    margin-left: 8px;
    color: #fff;
    font-size: 1rem;
  }
  
  @media (min-width: 960px) {
    display: none;
  }
}
